#centralwidget {
  border-image: url(:/startMenu/MainMenu.png);
}

#adventure {
  border-image: url(:/startMenu/adventure.png);
}

#setting {
  border-image: url(:/startMenu/setting.png);
}

#we {
  border-image: url(:/startMenu/we.png);
}


